*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 120px;
}


.header .logo {
    border: 1px solid black;
    width: 25%;
    height: 100%; 
    float: left;
}

.header .banner {
    border: 1px solid black;
    width: calc(100% - 25% - 5px);
    height: 100%; 
    float: left;
    margin-left: 5px;
}


.nav-bar {
    width: 100%;
    height: 32px;
    border: 1px solid black;
    margin-top: 10px;
}


.main {
    height: 500px;
    width: 100%;
    margin-top: 10px;
}

.main .left {
    height: 100%;
    width: 15%;
    float: left;
}

.main .mid {
    height: 100%;
    width: calc(100% - 15% - 20% - 10px);
    float: left;
    margin: 0 5px
}

.main .right {
    width: 20%;
    height: 100%;
    border: 1px solid black;
    float: left;
}

.main .left .top {
    width: 100%;
    height: 40%;
     border: 1px solid black;
}

.main .left .bottom {
    width: 100%;
    height: 50%;
     border: 1px solid black;
     margin-top: 5px;
}

.mid .top-mid {
    width: 100%;
    height: 150px;
}

.mid .bottom-mid {
    width: 100%;
    height: calc(100% - 150px - 5px);
    margin-top: 5px;
}

.news {
    width: calc(100%/2 - 10px);
    margin: 0 5px;
    border: 1px solid black;
    height: 100%;
    float: left;
}

.mid .bottom-mid .item {
    width: calc(100%/3 -  10px);
    height: 150px;
    border: 1px solid black;
    margin: 5px 5px;
    float: left;
}

@media only screen and (max-width: 1000px) {
    .main .left {
        display: none;
    }

    .main .mid {
        width: calc(100% - 20% - 10px);  
        overflow: scroll;
    }

    .mid .bottom-mid .item {
        width: calc(100%/2 -  10px);
    }
  }


  /* Màn hình 700px ẩn bên phải và 1 item 1 hàng */


@media only screen and (max-width: 700px) {
    .main .right {
        display: none;
    }

  .main .mid {
        width: 100%; 
        overflow: scroll;
    }

    .mid .bottom-mid .item {
        width: 100%;
    }
  }
